# -------------------------------------------------
# IDEs
# -------------------------------------------------

# IntelliJ IDEA / Android Studio
.idea/
*.iml

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# -------------------------------------------------
# Build outputs
# -------------------------------------------------

# Maven
/target/

# Gradle
/build/

# Generic
out/
!**/src/main/**/out/
!**/src/test/**/out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# -------------------------------------------------
# OS / tool noise
# -------------------------------------------------

# macOS
.DS_Store
# Windows
Thumbs.db
desktop.ini
# Linux
*~

# Logs & temp
*.log
*.tmp
*.bak
